.container1 {
  background-image: url('/SpaceX/img/humanFlight/01.jpg');
}

.container1-text {
  margin-top: 200px;
}

.strong-txt {
  font-weight: 500;
  text-shadow: 2px 2px 4px #00000018;
}

.container1,
.container2,
.container3,
.container4,
.container5 {
  background-position: center;
  height: 100vh;
  background-repeat: none;
  background-size: cover;
}

.container2 {
  background-image: url('/SpaceX/img/humanFlight/02.jpg');
}

.itens-2 {
  width: 100vw;
  /* padding-left: 55%; */
  margin-right: 10px;
}

.container3 {
  background-image: url('/SpaceX/img/humanFlight/03.jpg');
  display: flex;
  justify-content: center;
}

.container4 {
  background-image: url('/SpaceX/img/humanFlight/04.jpg');
  width: 100vw;
  padding-left: 55%;
  padding-top: 10px;
}

.container5 {
  background-image: url('/SpaceX/img/humanFlight/05.jpg');
  display: flex;
  justify-content: center;
}

.container6 {
  background-color: black;

  .links-area {
    padding-bottom: 100px;
  }
}

.text-style {
  font-weight: bold;
  font-size: 0.7em;
}

.btn-style {
  border-radius: 4px;
  padding: 16px 34px;
  border: 2px solid #fff;
}

.container-text {
  margin: 200px 0 0 0;
}

.title-content {
  font-size: 4em;
  font-weight: 700;
}

.small-title {
  font-weight: 100;
}

.medium-text {
  font-size: 1.2em;
}

.email-link {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

// Media querie with a width = 425px
@media (max-width: 425px) {
  .strong-txt {
    font-size: 3em;
  }

  .medium-text {
    font-size: 1em;
  }

  .title-content {
    font-size: 2em;
  }

  .container4 {
    width: 100vw;
    padding-left: 25%;
  }

  .container6 {
    button {
      font-size: 0.8em;
      padding: 10px 12px;
    }

    .links-area {
      padding-bottom: 30px;
    }
  }
}