.container1,
.container2,
.container3,
.container3-1,
.container3-2,
.container3-3,
.container3-4,
.container3-5,
.container4 {
  background-position: center;
  height: 100vh;
  background-repeat: none;
  background-size: cover;
}

.container1 {
  background-image: url("/SpaceX/img/falcon9/01.jpg");
}
.container1 .strong-txt {
  font-weight: 500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.0941176471);
  padding-top: 200px;
}
.container1 .subtitle-1 {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.container2 {
  background-image: url("/SpaceX/img/falcon9/02.jpg");
}
.container2 .article-text {
  text-align: justify;
  padding-top: 240px;
  padding-left: 1%;
  font-size: 1.3em;
  width: 600px;
  line-height: 40px;
}

.container3 .container3-1 {
  background-image: url("/SpaceX/img/falcon9/03.jpg");
}
.container3 .container3-2 {
  background-image: url("/SpaceX/img/falcon9/04.jpg");
}
.container3 .container3-2 div {
  padding-top: 240px;
  margin: 20px 0 0 100px;
}
.container3 .container3-3 {
  background-image: url("/SpaceX/img/falcon9/05.jpg");
}
.container3 .container3-4 {
  background-image: url("/SpaceX/img/falcon9/06.jpg");
}
.container3 .container3-4 div {
  padding-top: 180px;
}
.container3 .container3-5 {
  background-image: url("/SpaceX/img/falcon9/07.jpg");
}

.table-title {
  margin: 200px 0 0 100px;
  width: 500px;
}

.table-style {
  color: #fff;
  margin: 20px 0 0 100px;
  width: 460px;
}
.table-style .last-col {
  text-align: right;
}

.container4 {
  background-image: url("/SpaceX/img/falcon9/08.jpg");
}
.container4 .container4-1 {
  padding-top: 10px;
  margin-left: -50px;
}

.container6 {
  padding-top: 200px;
}

.small-title {
  font-size: 1.1em;
}

.counter-container {
  margin: 100px 0;
}

.counter-number {
  font-size: 5em;
}

.counter-name {
  font-size: 1.2em;
}

@media (max-width: 768px) {
  .subtitle-1 {
    font-size: 1.3em;
  }
  .container2 .article-text {
    padding-top: 200px;
    font-size: 1em;
    width: 450px;
    line-height: 1.8;
  }
  .container3 .table-title {
    margin: 200px 0 0 30px;
    width: 300px;
  }
  .container3 .container-table {
    font-size: 0.9em;
  }
  .container3 .container3-2 div {
    padding-top: 200px;
    margin: 20px 0 0 30px;
    width: 410px;
  }
  .container3 .container3-3 .small-title {
    width: 400px;
  }
  .container3 .container3-4 div {
    margin: 0 0 0 30px;
    width: 370px;
  }
  .container3 .container3-5 div {
    width: 380px;
  }
  .container3 .container3-5 .table-style {
    width: 330px;
  }
  .container3 .table-style {
    color: #fff;
    margin: 20px 0 0 30px;
    width: 400px;
  }
  .container4 .table-style,
  .container4 .table-title {
    width: 320px;
    margin: 70px 0 0 60px;
  }
  .container5 .carousel-inner p {
    font-size: 0.8em;
  }
}
@media (max-width: 425px) {
  .counter-container {
    margin: 70px 0;
  }
  .counter-number {
    font-size: 3em;
  }
  .counter-name {
    font-size: 0.8em;
  }
  .container2 .article-text {
    padding-top: 150px;
    font-size: 0.9em;
    width: 290px;
  }
  .container3 .carousel-text {
    font-size: 0.9em;
  }
  .container3 .table-title {
    margin: 100px 0 0 10px;
    width: 88vw;
  }
  .container3 .container-table {
    font-size: 0.7em;
  }
  .container3 .container3-1 .table-style {
    width: 88vw;
  }
  .container3 .container3-2 div {
    padding-top: 150px;
    margin: 20px 0 0 10px;
    width: 88vw;
  }
  .container3 .container3-3 .small-title {
    width: 88vw;
  }
  .container3 .container3-3 .table-style {
    width: 89vw;
    font-size: 0.95em;
  }
  .container3 .container3-4 div {
    margin: 0 0 0 10px;
    width: 88vw;
  }
  .container3 .container3-5 div {
    width: 90vw;
  }
  .container3 .container3-5 .table-style {
    width: 220px;
  }
  .container3 .table-style {
    color: #fff;
    margin: 20px 0 0 10px;
    width: 320px;
  }
  .container4 .table-style,
  .container4 .table-title {
    width: 88vw;
    margin: 70px 0 0 14vw;
  }
  .container4 .container4-text {
    font-size: 0.9em;
    background-color: rgba(0, 0, 0, 0.61);
    padding-left: 8px;
  }
  .container5 .carousel-inner {
    width: 100%;
  }
  .container5 .carousel-inner p {
    font-size: 0.6em;
  }
}
.container6 {
  padding-top: 100px;
}
.container6 button {
  font-size: 0.8em;
}

/*# sourceMappingURL=falcon9.css.map */
