@import '../colors.scss';

* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url('../img/backgroundLp.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

.formWd {
  max-width: 500px;
}

.topLogo {
  width: 80px;
}

.container1 {
  background-color: $background-color;
}

.btn-color {
  background-color: $background-color;
  border-color: $button-color;

  &:hover {
    transition: 0.3s;
  }
}